*{
    box-sizing:border-box ;
}
body{
    
    margin-right: 500px;
    
    padding: 0px;
    background-image: url(./imagens/astro.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  
    

} 
h1{
    color: aqua;
    font-family: 'Croissant One', cursive;
    font-family: 'Lora', serif;
    font-family: 'Young Serif', serif;
    font-size: 50px;
    text-align: left;
    margin-left: 62px;
    margin-top: 50px;
  
}

h2{
    padding-top: 20px;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 65px;
   
}
.div01{
    margin-left: 350px;
}
.div02{
    width: 600px;
    height: 600px;
    border-radius: 20%;
    margin-left: inherit;
    background:linear-gradient(to bottom,#000000,rgb(68, 2, 88));
    /* background-color: rgb(26, 13, 199); */
    /* background-image: -o-linear-gradient(to top black, blue); */
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(239, 245, 245);
    margin: 30px;
    padding: 20px;
    
}
a{
    text-decoration:none;
    margin-left: 70%;
}
.but{

    width: 185px;
    margin-right: 200px;
    margin-left: 479px;
    background-color: rgb(0, 5, 7);
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 40%;
    border: 2px solid aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;

    

}
.but:hover{

    background-color: rgb(3, 18, 66);
    color: rgb(243, 238, 238);
    font-weight: bold;
    border-radius: 40%;
    border: 2px solid aqua;
    
}
footer{
    width: 700px;
    height: 100px;
    text-align: center;
    font-size: 20px;
   color: aqua;
    
}



